body{
    background-color: beige;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;


}



.header{
margin-top: 5px;
margin-bottom: 5px;
padding-top: 15px;
padding-bottom: 15px;
text-align: left;
    background-color: lightblue;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
p{
    font-size: 20px;
    padding: 5px;
}
h1{
    padding: 10px;
    text-align: center;
    color:lightskyblue;
   
}

a:hover{

  display: inline-block;
  position: relative;
  color: #0087ca;
}

aside{
    width: 30%;
 
    font-size: 20px;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightblue;
  color:black;
}


.footer{
    text-align: center;
    
color: black;
    background-color:beige;
}

#pic{
  object-fit: cover;
  width: 100%;
  height: 950px;;

}

#picture{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:auto;
    background-color: black;
}

.second{
  background-color: PaleTurquoise;
  color: black ;
}

.first{
  color: black;
}

#kd{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}